In [2]:
import pandas as pd

# Load data
df = pd.read_csv("segmentation_with_dominant_topic.csv")

# Cek jumlah data awal
print(f"Jumlah data awal: {len(df)} baris")
df.head()

Jumlah data awal: 750 baris

,Steam ID,App ID,Game Name,Playtime (hours),Genres,Achievements,Dominant Topic
0,76561197960269409,58540,unknown,0.000000,NaN,0,Story-driven mysteries or cinematic adventure ...
1,76561197960269409,1180660,tell me why,0.000000,"Adventure, Free To Play",0,Story-driven mysteries or cinematic adventure ...
2,76561197960269409,110800,l.a. noire,21.466667,"Adventure, Strategy",25,Story-driven mysteries or cinematic adventure ...
3,76561197960269409,335300,dark souls™ ii: scholar of the first sin,47.016667,"Action, RPG",19,Story-driven mysteries or cinematic adventure ...
4,76561197960269409,96000,the tiny bang story,13.850000,"Adventure, Casual, Indie",0,Story-driven mysteries or cinematic adventure ...

In [3]:
# Hitung jumlah game per Steam ID
game_counts = df.groupby("Steam ID")["App ID"].count()

# Filter hanya Steam ID dengan ≥ 5 game
valid_users = game_counts[game_counts >= 5].index
df = df[df["Steam ID"].isin(valid_users)]

# Output jumlah data setelah filter
print(f"Jumlah data setelah filter minimal 5 game per Steam ID: {len(df)} baris")

Jumlah data setelah filter minimal 5 game per Steam ID: 750 baris

In [4]:
# Filter hanya game dengan playtime minimal 10 menit
df = df[df["Playtime (hours)"] >= (10 / 60)]

print(f"Jumlah data setelah menghapus game nonaktif (< 10 menit): {len(df)} baris")

Jumlah data setelah menghapus game nonaktif (< 10 menit): 453 baris

In [5]:
# Filter data dengan playtime <= 166.67 jam
df = df[df["Playtime (hours)"] <= (10000 / 60)]

print(f"Jumlah data setelah menghapus outlier (> 10.000 menit per game): {len(df)} baris")

Jumlah data setelah menghapus outlier (> 10.000 menit per game): 438 baris

In [6]:
# Hapus baris yang memiliki nilai NaN
df = df.dropna()

print(f"Jumlah data setelah menghapus baris dengan nilai NaN: {len(df)} baris")

Jumlah data setelah menghapus baris dengan nilai NaN: 431 baris

In [7]:
# Simpan hasil preprocessing
df.to_csv("segmentation_preprocessed.csv", index=False)
print("Data telah disimpan sebagai segmentation_preprocessed.csv")

Data telah disimpan sebagai segmentation_preprocessed.csv