In [2]:
import pandas as pd

# Load data
df = pd.read_csv("combined_player_game_with_topics.csv")

# Cek jumlah data awal
print(f"Jumlah data awal: {len(df)} baris")
df.head()

Jumlah data awal: 103206 baris

,Steam ID,App ID,Game Name,Playtime (hours),Genres,Achievements,Topic
0,76561198881119093,20,team fortress classic,0.316667,Action,0,[]
1,76561198881119093,50,half-life: opposing force,7.600000,Action,0,"[30, 237, 444]"
2,76561198881119093,70,half-life,18.166667,Action,0,"[257, 51, 108]"
3,76561198881119093,130,half-life: blue shift,2.783333,Action,0,"[34, 77, 117]"
4,76561198881119093,220,half-life 2,20.550000,Action,35,"[257, 24, 73]"

In [3]:
# Hitung jumlah game per Steam ID
game_counts = df.groupby("Steam ID")["App ID"].count()

# Filter hanya Steam ID dengan â‰¥ 5 game
valid_users = game_counts[game_counts >= 5].index
df = df[df["Steam ID"].isin(valid_users)]

# Output jumlah data setelah filter
print(f"Jumlah data setelah filter minimal 5 game per Steam ID: {len(df)} baris")

Jumlah data setelah filter minimal 5 game per Steam ID: 103206 baris

In [4]:
# Filter hanya game dengan playtime minimal 10 menit
df = df[df["Playtime (hours)"] >= (10 / 60)]

print(f"Jumlah data setelah menghapus game nonaktif (< 10 menit): {len(df)} baris")

Jumlah data setelah menghapus game nonaktif (< 10 menit): 51525 baris

In [5]:
# Filter data dengan playtime <= 166.67 jam
df = df[df["Playtime (hours)"] <= (10000 / 60)]

print(f"Jumlah data setelah menghapus outlier (> 10.000 menit per game): {len(df)} baris")

Jumlah data setelah menghapus outlier (> 10.000 menit per game): 50380 baris

In [6]:
# Hapus baris yang memiliki nilai NaN
df = df.dropna()

print(f"Jumlah data setelah menghapus baris dengan nilai NaN: {len(df)} baris")

Jumlah data setelah menghapus baris dengan nilai NaN: 49378 baris

In [7]:
# Simpan hasil preprocessing
df.to_csv("segmentation_preprocessed.csv", index=False)
print("Data telah disimpan sebagai segmentation_preprocessed.csv")

Data telah disimpan sebagai segmentation_preprocessed.csv